.flex_container {
  display: flex;
  flex-direction: row;
  background-color: #f5f7fa;
}
.header_container {
  background: #fff;
  padding: 25px 44px;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.header_container_text {
  color: #343c6a;
  font-size: 14px;
  font-weight: 600;
  line-height: normal;

  @media screen and (min-width: 1400px) {
    font-size: 22px;
  }
  @media screen and (min-width: 1200px) and (max-width: 1399px) {
    font-size: 22px;
  }
  @media screen and (min-width: 992px) and (max-width: 1199px) {
    font-size: 18px;
  }
  @media screen and (min-width: 768px) and (max-width: 991px) {
    font-size: 18px;
  }
  @media screen and (min-width: 576px) and (max-width: 767px) {
    font-size: 16px;
  }
}
.full_width {
  width: 100%;
}
.wizzard_container {
  padding-top: 50px;
  padding-bottom: 87px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 44px;
  background: #fff;
  margin: 20px;
  @media screen and (min-width: 1400px) {
  }
  @media screen and (min-width: 1200px) and (max-width: 1399px) {
  }
  @media screen and (min-width: 992px) and (max-width: 1199px) {
  }
  @media screen and (min-width: 768px) and (max-width: 991px) {
  }
  @media screen and (min-width: 576px) and (max-width: 767px) {
  }
}
.asidebar_container {
  min-height: 100vh;
  @media screen and (min-width: 1400px) {
  }
  @media screen and (min-width: 1200px) and (max-width: 1399px) {
  }
  @media screen and (min-width: 992px) and (max-width: 1199px) {
  }
  @media screen and (min-width: 768px) and (max-width: 991px) {
  }
  @media screen and (min-width: 576px) and (max-width: 767px) {
  }
  @media screen and (max-width: 991px) {
    display: none;
  }
}
.dashboard_burger_container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
